html,
body,
body .container {
    height:100%;
}

header {
    position: relative;
    padding: 10px 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    background-color: #b84d45;
    margin-bottom: 0px;
}

.alert > h2,
.alert > h1,
.alert > h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

my-app > .container {
    padding: 0;
}

header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

#qrcode-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

phone-play .btn {
    width: 100%;
    height: 100%;
}

phone-play .row > div {
    padding-left: 0;
    padding-right: 0;
    height:50%;
}