<div class="row maxwindow" width=60%>

  <div class="hidden-xs col-xs-2">
  </div>


  <nav class="navbar navbar-default navbar-fixed-top cads_header_bold ">

    <a class="navbar-brand cads_logo" href="#"> </a>

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      </div>
      <div class="collapse navbar-collapse cads_header_bold" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- TV Links -->
          <li class="hidden-xs">ein wertvolles Mitglied der Gesellschaft</li>
          <li class="visible-xs">ein wertvolles Mitglied der Gesellschaft</li>
          <li class="hidden-xs">aber klar doch</li>
          <li class="visible-xs">aber klar doch</li>
        </ul>
      </div>
    </div>
  </nav>

</div>