<div class="row maxwindow" width=60%>

  <div class="hidden-xs col-xs-2">
  </div>


  <nav class="navbar navbar-default navbar-fixed-top cads_header_bold ">

    <a class="navbar-brand cads_logo" href="#"> <img src="../images/becke_vorlaeufiges_logo.png" alt="" width="224" height="106" /> </a>

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      </div>
      <div class="collapse navbar-collapse cads_header_bold" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden-xs"><a id="#home" routerLink="home">HOME</a></li>
          <li class="visible-xs"><a data-toggle="collapse" data-target="#myNavbar" id="#home" routerLink="home">HOME</a></li>

          <!-- TV Links -->
          <li class="hidden-xs"><a id="#tv-home" routerLink="tv-home">TV-Home</a></li>
          <li class="visible-xs"><a data-toggle="collapse" data-target="#myNavbar" id="#tv-home" routerLink="tv-home">TV-Home</a></li>
          <li class="hidden-xs"><a id="#tv-play" routerLink="tv-play">TV-Play</a></li>
          <li class="visible-xs"><a data-toggle="collapse" data-target="#myNavbar" id="#tv-play" routerLink="tv-play">TV-Play</a></li>
          <li class="hidden-xs"><a id="#tv-end" routerLink="tv-end">TV-End</a></li>
          <li class="visible-xs"><a data-toggle="collapse" data-target="#myNavbar" id="#tv-end" routerLink="tv-end">TV-End</a></li>

          <!-- Phone Links -->
          <li class="hidden-xs"><a id="#phone-home" routerLink="phone-home">Phone-Home</a></li>
          <li class="visible-xs"><a data-toggle="collapse" data-target="#myNavbar" id="#phone-home" routerLink="phone-home">Phone-Home</a></li>
          <li class="hidden-xs"><a id="#phone-play" routerLink="phone-play">Phone-Play</a></li>
          <li class="visible-xs"><a data-toggle="collapse" data-target="#myNavbar" id="#phone-play" routerLink="phone-play">Phone-Play</a></li>
          <li class="hidden-xs"><a id="#phone-end" routerLink="phone-end">Phone-End</a></li>
          <li class="visible-xs"><a data-toggle="collapse" data-target="#myNavbar" id="#phone-end" routerLink="phone-end">Phone-End</a></li>

          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>

</div>